@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes spin-custom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in-animation {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes bounce-horizontal {
  0%, 100%{
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px); 
  }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 1s infinite; /* Apply the animation */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Garamond', sans-serif; /* Apply garamond as default*/
}

.scrollbar{
  scrollbar-color: #f1b0c2 #D30A40;
  scrollbar-width: auto;
}
